body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: #1f2833;
  --alt-background: #424e50;
  --text: white;
  --border: #6f2232;
  --neutral-background: #b19f9e;
  --right-color: #479761;
  --wrong-color: #6f2232;
  --answer-delay: 2s;
  --button-background: var(--background);
  --button-highlight: var(--text);
}
