body {
  margin: 0;
  padding: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  box-sizing: border-box;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

:root {
  --background: #1f2833;
  --text: #c5c6c7;
  --border: #6f2232;
  --button-background: var(--background);
  --button-highlight: var(--text);
  --neutral-background: gray;
  --right-color: #afd275;
  --wrong-color: #c3073f;
  --answer-delay: 2s;
}
