ul.circleContainer {
    position: relative;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 1000px;
    height: 1000px;
}

.circleItem {
    position: absolute; 
    -webkit-transition: all 0.5s linear;
    -moz-transition: all 0.5s linear;
    transition: all 0.5s linear;
}
