
.optionAvailable {
    background-color: grey;
}

.optionMyChoice {
    color: green;

}

.optionEliminated {
    text-decoration: line-through;
}

.timer {
    position: absolute;
    margin-left: 5em;
    margin-top: 5em;
}
