
.option {
  background: white;
  color: var(--black);
  padding: 20px;
  border-radius: 6px;
  display: inline-block;
  -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
  font-weight: 700;
  transition: all 0.3s ease 0s;
}
.option:hover:not([disabled]) {
  color: white;
  background: var(--black);
  cursor: pointer;
  transform: scale(1.125);
}
.option[disabled] {
  cursor: auto;
}
.optionEliminated {
  text-decoration: line-through;
  opacity: .5;
}
.optionMyChoice {
  color: white;
  background: var(--black);
}

.timer {
  position: absolute;
  margin-left: 4em;
  margin-top: 8em;
}
