
.playerList {
    height: 100vh; /* Full-height: remove this if you want "auto" height */
    width: 25vw; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding: 1em;
}

.gameArea {
    margin-left: 25vw; /* Same as the width of the sidebar */
    height: 100vh;
}

.screen {
    width: 100vw;
    height: 100vh;
}
