
.option {
    background: var(--white);
    color: var(--black);
    padding: 20px;
    border-radius: 6px;
    display: inline-block;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    font-weight: 700;
    transition: all 0.3s ease 0s;
}

.option:hover:not([disabled]) {
    background: var(--black);
    cursor: pointer;
    color: var(--white);

}

.option:not([disabled]) {
    cursor: auto;
}

.option[disabled] {
    font-weight: 700;
    letter-spacing: 3px;
    -webkit-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    -moz-box-shadow: 0px 5px 40px -10px rgba(0,0,0,0.57);
    transition: all 0.3s ease 0s;
    opacity: 0.4;
}

.option:hover:not([disabled]) {
    background: var(--black);
    cursor: pointer;
    color: var(--white);

}

.optionEliminated {
    opacity: 0.4;
    text-decoration: line-through;
}

.optionMyChoice {
    background: var(--yellow);
    color: var(--white);
    opacity: 1 !important;
}

.timer {
}
