
.questionText {
    font: 600 3.125em/1.125 'Rubik', sans-serif;
    color: var(--black);
    text-align: center;
    width: 100%;
    padding-bottom: 5vh;
}

.questionContainer {
    padding: 4%;
}
