.playerList {
    color: var(--text);
    padding: 30px 1.5em 0px 1.5em;
    background-color: var(--alt-background);
}

.playerList .title {
    border-bottom: 2px solid rgba(var(--background-raw), 0.5);
    font-weight: 600;
    padding-bottom: 20px;
    font: 600 1.5em/1 'Rubik', sans-serif;
    margin-bottom: 0;
}

.playerList .list-group {
    border-bottom: 2px solid rgba(var(--background-raw), 0.5);
}

.playerList .list-group-item {
    list-style: none;
    background-color: transparent;
    border: none;
    padding: 4px 0 2px 0;
    display: flex;
}

.playerName {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    height: 1.3em;
}

.playerScore {
    background-color: rgba(var(--background-raw), 0.75);
    color: var(--text);
    border-radius: 12px;
    padding: 0 12px;
    margin: 1px 5px 0 auto;
    font-size: .9em;
    height: 22px;
}

.playerIsMe {
    font-weight: bolder;
    font-size: 1.1em;
}
