
.playerList {
    color: var(--text);
    background-color: var(--background);
    padding: 1.5em;
    font: 600 1em, sans-serif;
}

.playerList .title {
    border-bottom: 1px solid var(--text-25);
    font-weight: 600;
    padding-bottom: 20px;
    font: 600 1.5em/1 'Rubik', sans-serif;
    margin-bottom: 0;
}

.playerList .list-group {
    border-bottom: 1px solid var(--text-25);
}

.playerList .list-group-item {
    list-style: none;
    background-color: transparent;
    border: none;
    padding: 8px 0;
}

.playerScore {
    background: var(--gray);
    border-radius: 12px;
    padding: 0 12px;
    Float: right;
    color: var(--bright);
    font-size: .9em;
}

.playerRegistration {
}

.playerWelcome {
  padding-bottom: 1em;
}
