
.answerText {
    font: 600 2.5em/1.125 'Rubik', sans-serif;
    margin-bottom: .2em;
    color: var(--text);
    text-align: center;
    transition: all var(--answer-delay) ease .3s;
    transition-delay: var(--answer-delay);
}

.incorrectAnswer {
    text-decoration: none;
    color: var(--text);
    animation: var(--answer-delay) revealIncorrect;
    animation-fill-mode: forwards;
}

.correctAnswer {
    animation: var(--answer-delay) revealCorrect;
    animation-fill-mode: forwards;}

.answer {
    animation: var(--answer-delay) popIn;
    animation-fill-mode: forwards;
}

@keyframes revealAnswer {
    0% {
        color: var(--text);
    }
    100% {
        color: var(--right-color);
    }
}

@keyframes popIn {
    0% {
        height: 0;
        visibility: hidden;
    }
    99% {
        height: 0;
        visibility: hidden;
    }
    100% {
        height: 100%;
        visibility: visible;
    }
}

@keyframes revealCorrect {
    0% {
        color: var(--text);
    }
    90% {
        color: var(--text);
    }
    100% {
        color: var(--right-color);
    }
}

@keyframes revealIncorrect {
    99% {
        text-decoration: none;
        color:  var(--text);
    }
    100% {
        text-decoration: line-through;
        color: var(--wrong-color);
    }
}

.answerMessage {
    border-radius: 6px;
    width: 100%;
    height: 100%;
    margin-top: 1em;
    padding-bottom: 1em;
    padding-top: 1em;
    text-align: center;
    animation: var(--answer-delay) popIn;
    animation-fill-mode: forwards;
    font: 600 1.5em/1.125 'Rubik', sans-serif;
}

.answerMessage.correct {
    background-color: var(--right-color);
    color: var(--background);
}

.answerMessage.incorrect {
    background-color: var(--wrong-color);
    color: var(--text);
}

.answerMessage.noAnswer {
    background-color: var(--neutral-background);
    color: var(--text);
}
