
.playerAnswer {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    height: 60px;
    color: var(--text);
    border-radius: 6px;
    margin: 3px;
    background-color: var(--neutral-background);
}

.playerAnswerCorrect {
    background-color: var(--right-color);
}

.playerAnswerIncorrect {
    background-color: var(--wrong-color);
}

.updateName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0;
    height: 1.6em;
    width: 100%;
    max-width: 100%;
    text-align: center;
    border-radius: 6px 6px 0 0;
    background-color: rgba(var(--background-raw), 0.3);
}

.updateScore {
    background-color: rgba(var(--background-raw), 0.3);
    border-radius: 12px;
    padding: 0 12px;
    margin: 6px 5px 0 0;
    color: var(--text);
    font-size: .9em;
    line-height: 20px;
}

.updateAnswer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    color: var(--right-color);
    margin-left: 5px;
    width: 80%;
    height: 30px;
    flex: 50%;
    color: var(--text);
    padding: 5px 0 0 5px;
}

.updateTime {
    
}
