
.playerAnswer {
  display: flex;
  justify-content: space-between;
  height: 75px;
  color: var(--text);
  padding: 1.5em;
  border-color: var(--text-25);
  border-width: 1px;
  border-style: solid;
  border-radius: 6px;
  width: 100%;
}

.updateName {
  overflow: hidden;
  text-overflow: ellipsis;
  margin: 0;
  height: 30px;
}

.updateScore {
  background: var(--gray);
  border-radius: 12px;
  padding: 0 12px;
  color: var(--bright);
  font-size: .9em;
  margin: 0;
}

.updateAnswer {
  overflow: hidden;
  text-overflow: ellipsis;
  color: var(--right-color);
  margin: 0;
  height: 30px;
}

.updateIncorrect {
  text-decoration: line-through;
  color: red;
}

.updateTime {

}
